@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  background-image: url("../images/sports-tools.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.App {
  display: flex;
  flex-direction: column;
  align-items: center;

  /* background-color: rgba(0, 0, 0, 0.9); */
}
.App-dark {
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: rgba(0, 0, 0, 0.9);
}
.dark {
  background-color: rgba(60, 60, 60, 0.8);
}

.light {
  background-color: white;
}
